*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    background-color: palevioletred;
    height: 4rem;
    color: black;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
#logo{
    width: 3.5rem;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
#logoandtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
#logoandtext span{
    font-style: italic;
    font-size: 1.5rem;
}
#section1{
    background-color: rgb(254, 239, 239);
    padding-bottom: 4rem;
    
}
 h2{
    font-size: 3rem;
    color: rgb(16, 7, 90);
    font-style:oblique;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.products{
    margin: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.articletag{
    background-color: rgb(229, 245, 250);
    padding:0.75rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border: 1px solid brown;

 
}
 h3{
    color: blueviolet;
}
.articletag img{
    width: 100%;
    object-fit: cover;
}
.starentity{
    color: orangered;
}
.priceandaddbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    color: brown;
}
.addbutton{
    padding: 2px 5px;
    color: white;
    background-color: rgb(4, 4, 149);
    
}
.addbutton:hover{
    background-color: green;
}